body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover 
{
   color:grey;
   text-decoration:none; 
   cursor:pointer;  
}

p{
  margin:5px;
}

h3{
  margin:5px;
}

#card{
  height: auto; 
  width: auto;
  margin: 1%;
  max-width: 625px;
  max-height: 700px;
  border: 1px solid rgb(197, 197, 197);
  padding: 1%;
}

#logo{
  height: auto; 
  width: auto; 
  max-width: 600px; 
  max-height: 700px;
  text-align: center;
}

#headline{
  padding: 75px 75px; 
}

#headlineBody{
  margin:10px;
  border-bottom: 1px solid grey;
}



